{% extends "base.html.twig" %}
{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RBNB | Accueil</title>
</head>
<body>
    
    
        {% for annonce in annonces %}
        
        
        <div class="card border-primary text-white bg-light mb-4 me-5 mt-4" style="width: 15%;">
             {% if annonce.fileName is null %}
             <a href="{{path('app_annonce_show', {'id': annonce.id})}}">     
             <img src="{{ asset('images/default.jpg') }}"
                         alt="image par défault d'une maison" class="card-img-top" />
                        </a>  
                         {% else %} 
                         <a href="{{path('app_annonce_show', {'id': annonce.id})}}">
                            <img src="/images/{{annonce.fileName}}" alt="image de la maison" class="card-img-top" />             
                        </a>
            {% endif %}     
            
            <p class="text-dark">Prix par nuit: {{ annonce.prix }}€ <br>
                Nombre de couchage: {{ annonce.nombreCouchage}}
                <br>
               
                    <div class="country text-dark ">{{ annonce.city }}<br>{{ annonce.country }}</div>
                    
                    
                    
            </p>
                    
                    
                </div>
                {% endfor %}
                    
                
</body>
</html>

{% endblock %}